body{
	background: url("images/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

#header {
	background: url("images/stripes.png");
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
}

h1 {
	margin-top: 250px;
	margin-left: 130px;
	color: white;
	font-weight: normal;
	font-family: helvetica;
	font-size: 18px;
}

hr {
	margin-left: 135px;
	width: 42px;
	border: 1px solid #FD6E6E;
}

p{
	margin-left: 135px;
	padding-top: 5px;
	font-family: arial, helvetica;
	color: white;
}

