body{
	background: url("http://blog.eatb.es/wp-content/uploads/2014/07/tapas-spread.jpg");
	background-repeat: repeat-x;
	z-index: 0;
	overflow-y: scroll;
	background-position: right top;
	background-attachment: fixed;
	background-size: cover;
	font-family: arial, sans-serif;
}
#nav{
	background-color: #222;
	font-size: 40px;
	font-family: Calligraffitti;
	padding-left: 14px;

	}
	#nav_wrapper{
	left: 400px;
	top: 15px;
	width: 100%;
	height: 100px;
	text-align: center;
	}
#nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
}
a {
	display: inline-block;
	width: 100px;

}
#nav ul li {
	display: inline-block;
	padding: 20px;
}
#nav ul li:hover{
	background-color: #333;
}
#nav ul li a{
	text-decoration: none;
	color: #ccc;
	padding: 15px 15px 25px 25px;
}
#nav ul li a:visited {
	color: #ccc;
	display: block;
	padding: 15px;
	text-decoration: none;
}
#nav ul li a:hover{
	color: #ccc;
	background-color: #222;
	text-decoration: none;
padding: 15px 15px 35px 35px;
}

.main {
	position: absolute;
	 z-index: 2;
        -webkit-box-shadow: 7px 7px 18px 1px #000;
        -moz-box-shadow: 7px 7px 18px 1px #000;
        box-shadow: 7px 7px 18px 1px #000;
	width: 300px;
	height: 1000px;
	margin-top: 0px;
	color: white;
	background-color: rgba(20,39,26,0.6);
	white-space: normal;
	overflow: auto;
}
h1 {
	font-family: Calligraffitti;
	font-size: 40px;
	color: white;
	font-weight: 20px;
	text-align: center;
}
hr {

}



